body .inscription,
.connexion {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: white;
	width: 400px;
	margin: auto;
	padding: 30px;
	border-radius: 15px;
	color: black;
	box-shadow: 0px 10px 13px -7px #000000, 22px -20px 8px -2px aliceblue;
	animation-name:heart;
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
}
body .inscription h1,
body .connexion h1 {
	color: black;
	animation-name:heart;
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-delay:0.5s;
	transform:scale(0);
}
.form{
	animation-name:rightToLeft;
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-delay:1.75s;
	opacity:0;
	transform:translateX(200px);
}
@keyframes rightToLeft{
	0%{
		opacity:0;
		transform:translateX(200px);
	}
	100%{
		opacity:1;
		transform:translateX(0px);
	}
}
.inscription h2, .inscription .blancSurNoir, .connexion h2, .connexion .blancSurNoir{
	animation-name:heart;
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-delay:1s;
	transform:scale(0);
}

.connexion_container {
background-color: aliceblue;
	width: 100%;
	padding: 60px 0px 60px 0px;
	margin: auto;
	width: 600px;
	border-radius: 15px;
	margin-top:100px;
}
.inscription_container {
	background-color: aliceblue;
	width: 100%;
	padding: 60px 0px 60px 0px;
	margin: 50px auto auto auto;
	width: 600px;
	border-radius: 15px;
	margin-top:150px;
}
.inscription .btn,
.connexion .btn {
	margin-top: 5px;
}

.inscription .input_container,
.connexion .input_container {
	display: flex;
	margin: 10px;
}

.inscription .icon_container,
.connexion .icon_container {
	background-color: white;
	padding: 5px;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: aliceblue;
}
.inscription .icon_container i,
.connexion .icon_container i {
	color: rgb(103, 101, 102);
}
.connexion input,
.inscription input {
	background-color: rgba(255, 255, 255, 0.8);
	height: 40px;
	width: 300px;
	text-indent:10px;
	font-weight: 600;
	color: black;
	outline:none;
	transition-duration:1s;
}.connexion input:focus,
.inscription input:focus {
	background-color: aliceblue;
}
.inscription {
	margin-top: 50px;
}
