footer {
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;
}
.copyRight {
	height: 50px;
	margin: 0px;
	padding: 0px;
}

.copyRight p{
    position:absolute;
    left: 40%;
    font-family:titre;
}
