.btn {
	padding: 10px;
	font-weight: 600;
	border: none;
	/* border-radius: 5px; */
	cursor: pointer;
	transition-duration: 0.2s;
	max-width: 100%;
	border-radius: 5px;
	color: black;
	font-family: inherit;
	font-size: 15px;
}
.btn_form {
	width: 360px;
	padding: 10px;
	color: white;
	font-weight: 600;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition-duration: 0.2s;
	height: 43px;
	margin-left: 10px;
}
.btn:active {
	transform: scaleX(0.8);
}

.blue {
	background-color: rgb(37, 99, 235);
	color: white;
}
.blue_foncé {
	background-color: rgb(59, 89, 152);
	color: white;
	transition-duration: 0.3s;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.blue_foncé:hover {
	background-color: rgb(37, 99, 235);
}
.red {
	background-color: #ff6363;
}
.blancSurNoir {
	background-color: black;
	color: white;
}
.noirSurBlanc{
	background-color: white;
	color: black;
}

.error {
	background: #ff6363;
	border-radius: 4px;
	font-size: 14px;
	margin: 0 0 16px;
	padding: 10px;
	font-weight: 600;
	color: black;
	border-radius: 15px;
}
.success {
	background: green;
	border-radius: 4px;
	font-size: 14px;
	margin: 0 0 16px;
	padding: 10px;
	font-weight: 600;
	border-radius: 15px;
}

@font-face {
	font-family: 'titre';
	src: url('../fonts/LEMONMILK-Medium.otf');
}

.margin20 {
	margin-top: 20px;
}
